<ion-header>

  <ion-navbar>
    <ion-title>Edit Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>

    <ion-item>
      <ion-label color="primary" stacked>Location</ion-label>
      <ion-input [(ngModel)]="profileEntry.location"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Introduction</ion-label>
      <ion-textarea [(ngModel)]="profileEntry.intro"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Preferred Number of People</ion-label>
      <ion-select [(ngModel)]="profileEntry.people">
        <ion-option value="1 People">1 People</ion-option>
        <ion-option value="2 People">2 People</ion-option>
        <ion-option value="3-5 People">3-5 People</ion-option>
        <ion-option value="Above 5 People">Above 5 People</ion-option>
        <ion-option value="No Preference">No Preference</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Preferred Cost Range</ion-label>
      <ion-select [(ngModel)]="profileEntry.cost">
        <ion-option value="Below $5">Below $5</ion-option>
        <ion-option value="Below $10">Below $10</ion-option>
        <ion-option value="Below $15">Below $15</ion-option>
        <ion-option value="Below $20">Below $20</ion-option>
        <ion-option value="No Preference">No Preference</ion-option>
      </ion-select>
    </ion-item>

    <ion-card>
      <ion-card-header color="primary">Allergies</ion-card-header>
      <ion-card-content>
        <p *ngIf="allergyLength == 0">You haven't specified any allergies yet.</p>
        <ion-chip *ngFor = "let item of profileEntry.allergy; let index=index">
          <ion-label>{{item}}</ion-label>
          <button ion-button color="dark">
            <ion-icon name="close" (click)="deleteAllergyChip(index)"></ion-icon>
          </button>
        </ion-chip>

        <ion-chip>
          <button ion-button (click)="addAllergyChip()">
            <ion-icon name="add"></ion-icon>
          </button>
        </ion-chip>
      </ion-card-content>
    </ion-card>

    <hr/>

    <ion-card>
      <ion-card-header color="primary">Preferences</ion-card-header>
      <ion-card-content>
        <p *ngIf="allergyLength == 0">You haven't specified any allergies yet.</p>
        <ion-chip *ngFor = "let item of profileEntry.preference; let index=index">
          <ion-label>{{item}}</ion-label>
          <button ion-button color="dark">
            <ion-icon name="close" (click)="deletePreferenceChip(index)"></ion-icon>
          </button>
        </ion-chip>

        <ion-chip>
          <button ion-button (click)="addPreferenceChip()">
            <ion-icon name="add"></ion-icon>
          </button>
        </ion-chip>
      </ion-card-content>
    </ion-card>

    <hr/>

  </ion-list>

  <ion-row>
    <ion-col text-center>
      <button ion-button round class="button-create" (click)="updateProfile()" [disabled]="profileEntry.location=='' || profileEntry.intro==''">UPDATE</button>
    </ion-col>
  </ion-row>

</ion-content>
