<ion-header>

  <ion-navbar>
    <ion-title> Schedules </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	
	<ion-card>
		<div class="image-holder">
			<img src="{{ restaurantEntry.image_url }}"/>
		</div>
		<ion-card-content>
			<ion-card-title>
			  {{ restaurantEntry.name }}
			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<h1 class="subtitle">{{ restaurantEntry.eventsId?.length || "No"}} upcoming events</h1>

	<ion-card *ngFor="let event of currentEventEntries">
		<ion-card-content>
			<ion-row>
				<ion-col col-3>
					<img class="host-picture" src="{{ dataProvider.getProfilePicByUsername(event.hostId) }}"/>
				</ion-col>

				<ion-col col-9>
					<h2> {{ event.name }} </h2>
					<h3> <ion-icon name="alarm"></ion-icon> {{ event.date | date:'mediumDate'}}, {{ event.time }}</h3>
					<p> "{{ event.memo }}"</p>
					
					<p class="label-participants"> There are {{ event.participantsId?.length || 0 }} people in this event </p>
					<ion-row>
						<div class="guest-picture-container">
						<img *ngFor="let participantId of event.participantsId"
							 class="guest-picture" 
							 src="{{ dataProvider.getProfilePicByUsername(participantId) }}" />
						</div>
					</ion-row>
				</ion-col>
			</ion-row>

			<ion-row *ngIf="event.hostId!=username">
				<ion-col text-center>
					<button ion-button round class="button-join" *ngIf="!isUserInEvent(event)" (click)="joinEvent(event)">JOIN EVENT</button>
					<button ion-button round class="button-join" *ngIf="isUserInEvent(event)" (click)="quitEvent(event)">QUIT EVENT</button>
				</ion-col>
			</ion-row>

		</ion-card-content>

	</ion-card>

	<ion-row>
		<ion-col text-center>
			<button ion-button round class="button-create" (click)="createNewEvent()">CREATE AN EVENT</button>
		</ion-col>
	</ion-row>

</ion-content>